In [ ]:
a='sigma'
b=32
c='9.6'
d='malla reddy university'
e=True

In [ ]:
type(a)
type(b)

int

In [ ]:
c

'9.6'

In [ ]:
type(e)

bool

In [ ]:
True + 5

6

In [ ]:
### addition +
### subtraction -
### multiplication *
### division /
### reminder %
### power **
### // floor division

In [ ]:
a=45
b=9

In [ ]:
a+b

54

In [ ]:
z=a/b
z

5.0

In [ ]:
print(a*b)

405

In [ ]:
x= 463
y=90

In [ ]:
x>y

True

In [ ]:
x>=y

True

In [ ]:
x!=y

False

In [ ]:
True or True ---- True
False or True ---- True
True or False ---- True
False or False --- False

0

In [ ]:
True or True ---- True
False or True ---- False
True or False ---- False
False or False --- False

0

In [ ]:
x=6
print(x)

6

In [ ]:
a=[23,24,25,36]
a

[23, 24, 25, 36]

In [ ]:
type(a)

list

In [ ]:
c=[463,'Hyderabad',6,True,False,56]
c

[463, 'Hyderabad', 6, True, False, 56]

In [ ]:
c[1]

'Hyderabad'

In [ ]:
c[4]

False

In [ ]:
c[-3]

True

In [ ]:
c[1:5]

['Hyderabad', 6, True, False]

In [ ]:
c

[463, 'Hyderabad', 6, True, False, 56]

In [ ]:
c[1:5:3]

['Hyderabad', False]

In [ ]:
d=['cat','dog','owl','rat','rabbit','monkey','bat']
d

['cat', 'dog', 'owl', 'rat', 'rabbit', 'monkey', 'bat']

In [ ]:
d[1:4:2]

['dog', 'rat']

In [ ]:
d[1]

'dog'

In [ ]:
listmethods='append','clear','copy','count','extend','index','insert','pop','remove','reverse','sort'

In [ ]:
c.append('India')
c

[463, 'Hyderabad', 6, True, False, 56, 'India', 'India']

In [ ]:
c.insert(2,'India')
c

[463,
 'Hyderabad',
 'India',
 6,
 True,
 False,
 56,
 'India',
 'India',
 'India',
 'India']

In [ ]:
c.remove(6)
c

[463, 'Hyderabad', 'India', False, 56, 'India', 'India', 'India', 'India']

In [ ]:
c.pop(4)

'India'

In [ ]:
a=[1,23,456,7890,12,54,78,9]

In [ ]:
a

[1, 23, 456, 7890, 12, 54, 78, 9]

In [ ]:
a.pop(3)

7890

In [ ]:
a.append('India')

In [ ]:
del[a]

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
d={100:4,200:5,300:6}
d

{100: 4, 200: 5, 300: 6}

In [ ]:
d.append(99)

In [ ]:
d

[100, 99]

In [ ]:
if condition1:
    task1 block of code
elif condition2:
    task2 block of code
elif condition3:
    task3 block of code
else:
    task4 block of code

In [ ]:
x=9
if x%2==0:
    print('even')
else:
    print('odd')

odd

In [ ]:
y='india'
y

'india'

In [ ]:
y.isalpha()

True

In [ ]:
if y.isalpha()==True:
  print("accept")
else:
    print("name should not contain digit and symbols")

accept

In [ ]:
name='john21'

In [ ]:
if name.isalpha()==True:
  print("accept")
else:
    print("name should not contain digit and symbols")

name should not contain digit and symbols

In [ ]:
name.upper()

'JOHN21'

In [ ]:
x='hyderabad'
x

'hyderabad'

In [ ]:
if x[0]=='h':
  print("YES")
else:
    print("NO")

YES

In [ ]:
if x[0]=='m':
  print("YES")
else:
    print("NO")

NO

In [ ]:
x='manali'
if x[0].lower()=='m':
  print("YES")
else:
    print("NO")

YES

In [ ]:
x[0]

'm'

In [ ]:
x[0].upper()=='m'

False

In [ ]:
if x[0]=='s' and y[1]=='h':
  print("YES")
else:
    print("NO")

NO

In [ ]:
print('data')

data

In [ ]:
x=3
while x<10:
    print(x)
    x=x+1

3
4
5
6
7
8
9

In [ ]:
x=25
while x<10:
  print('yes',x)
  x=x-5

In [ ]:
y=[40,50,60,70,80]
y

[40, 50, 60, 70, 80]

In [ ]:
area=78

In [ ]:
area

78

In [ ]:
def calArea(r):
  a=3.14*r*r
  return a

In [ ]:
calArea(r=10)

314.0

In [ ]:
def d_to_inr(x):
  print(x*85)

In [ ]:
a=d_to_inr(15)

1275

In [ ]:
b=d_to_inr(20)

1700

In [ ]:
a=d_to_inr(15)
type(a)

1275

NoneType

In [ ]:
a=print('India')
a

India

In [ ]:
def aor(l,w):
  area=l*w
  return area

In [ ]:
aor(w=5,l=10)

50

In [ ]:
aor(20,15)

300

In [ ]:
def area(radius,length,width):
  aoc=3.14*radius*radius
  aor= length*width
  return aor,aoc

In [ ]:
area(radius=10,length=20,width=5)

(100, 314.0)

In [ ]:
type(a)

tuple

In [ ]:
aor,aoc=area(radius=10,length=20,width=5)

In [ ]:
d

(100, 314.0)

In [ ]:
type(d)

tuple

In [ ]:
d[0]

100

In [ ]:
d[1]

314.0

In [ ]:
aor

100

In [ ]:
aoc

314.0

In [ ]:
def area(radius,length,width):
  aoc=3.14*radius*radius
  aor= length*width
  return [aor,aoc]

In [ ]:
area(radius=10,length=20,width=5)

[100, 314.0]

In [ ]:
s=area(radius=10,length=20,width=5)

In [ ]:
s[0]

100

In [ ]:
s[1]

314.0

In [ ]:
def area(radius,length,width):
  aoc=3.14*radius*radius
  aor= length*width
  return {'Area Of Rect':aor,'Area Of Circle':aoc}

In [ ]:
area(radius=10,length=20,width=5)

{'Area Of Rect': 100, 'Area Of Circle': 314.0}

In [ ]:
s=area(radius=10,length=20,width=5)

In [ ]:
type(s)

dict

In [ ]:
s['Area Of Rect']

100

In [ ]:
t='HyderbadAAd 500008 Telangana'
t

'HyderbadAAd 500008 Telangana'

In [ ]:
def count_num_alpha(x):
  c=0
  d=0
  for i in x:
    if i.isalpha():
      c+=1
    elif i.isnumeric():
        d+=1
        return{'Number of alphabets':c,'Number of digits':d}

In [ ]:
t='HyderbadAAd 500008 Telangana'
t

'HyderbadAAd 500008 Telangana'

In [ ]:
x='HyderbadAAd 500008 Telangana'
def remove_num(x):
  y=''
  for i in x:
    if i.isdigit()==False:
      y+=i
  return y

In [ ]:
remove_num(x)

'HyderbadAAd  Telangana'

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
k=[21,33,44,56,78,98,'India']
k

[21, 33, 44, 56, 78, 98, 'India']

In [ ]:
pd.Series(k)

0       21
1       33
2       44
3       56
4       78
5       98
6    India
dtype: object

In [ ]:
import numpy as np # imports the numpy package and assigns it the alias 'np'
a=np.random.randint(20,50,(2,5)) # this line now uses the numpy package which is imported and assigned to the variable np
a

array([[41, 36, 25, 42, 23],
       [44, 24, 26, 25, 29]])

In [ ]:
pd.DataFrame(a)

    0   1   2   3   4
0  41  36  25  42  23
1  44  24  26  25  29

In [ ]:
a.ndim

2

In [ ]:
pf1 = pd.DataFrame(a, columns=['id', 'name', 'age', 'marks', 'col5']) # Added a new column name 'col5'
pf1

   id  name  age  marks  col5
0  41    36   25     42    23
1  44    24   26     25    29

In [ ]:
pf1 = pd.DataFrame(a, columns=['id', 'name', 'age', 'marks', 'col5'], index=[515, 472])
# Include 'col5' to match the number of columns in the data
pf1

     id  name  age  marks  col5
515  41    36   25     42    23
472  44    24   26     25    29

In [ ]:
df=sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
df.shape

(244, 7)

In [ ]:
df['sex'].unique() # Replace 'color' with an existing column name like 'sex'

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
'2025/023/21'

'2025/023/21'

In [ ]:
df['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [ ]:
df['total_bill'].unique()

array([16.99, 10.34, 21.01, 23.68, 24.59, 25.29,  8.77, 26.88, 15.04,
       14.78, 10.27, 35.26, 15.42, 18.43, 14.83, 21.58, 10.33, 16.29,
       16.97, 20.65, 17.92, 20.29, 15.77, 39.42, 19.82, 17.81, 13.37,
       12.69, 21.7 , 19.65,  9.55, 18.35, 15.06, 20.69, 17.78, 24.06,
       16.31, 16.93, 18.69, 31.27, 16.04, 17.46, 13.94,  9.68, 30.4 ,
       18.29, 22.23, 32.4 , 28.55, 18.04, 12.54, 10.29, 34.81,  9.94,
       25.56, 19.49, 38.01, 26.41, 11.24, 48.27, 13.81, 11.02, 17.59,
       20.08, 16.45,  3.07, 20.23, 15.01, 12.02, 17.07, 26.86, 25.28,
       14.73, 10.51, 27.2 , 22.76, 17.29, 19.44, 16.66, 10.07, 32.68,
       15.98, 34.83, 13.03, 18.28, 24.71, 21.16, 28.97, 22.49,  5.75,
       16.32, 22.75, 40.17, 27.28, 12.03, 12.46, 11.35, 15.38, 44.3 ,
       22.42, 20.92, 15.36, 20.49, 25.21, 18.24, 14.31, 14.  ,  7.25,
       38.07, 23.95, 25.71, 17.31, 29.93, 10.65, 12.43, 24.08, 11.69,
       13.42, 14.26, 15.95, 12.48, 29.8 ,  8.52, 14.52, 11.38, 22.82,
       19.08, 20.27, 11.17, 12.26, 18.26,  8.51, 14.15, 16.  , 13.16,
       17.47, 34.3 , 41.19, 27.05, 16.43,  8.35, 18.64, 11.87,  9.78,
        7.51, 14.07, 13.13, 17.26, 24.55, 19.77, 29.85, 48.17, 25.  ,
       13.39, 16.49, 21.5 , 12.66, 16.21, 17.51, 24.52, 20.76, 31.71,
       10.59, 10.63, 50.81, 15.81, 31.85, 16.82, 32.9 , 17.89, 14.48,
        9.6 , 34.63, 34.65, 23.33, 45.35, 23.17, 40.55, 20.9 , 30.46,
       18.15, 23.1 , 15.69, 19.81, 28.44, 15.48, 16.58,  7.56, 43.11,
       13.  , 13.51, 18.71, 12.74, 16.4 , 20.53, 16.47, 26.59, 38.73,
       24.27, 12.76, 30.06, 25.89, 48.33, 13.27, 28.17, 12.9 , 28.15,
       11.59,  7.74, 30.14, 12.16,  8.58, 16.27, 10.09, 20.45, 13.28,
       22.12, 24.01, 11.61, 10.77, 15.53, 12.6 , 32.83, 35.83, 29.03,
       27.18, 22.67, 17.82, 18.78])

In [ ]:
df['total_bill'].value_counts()

total_bill
13.42    3
13.81    2
15.98    2
17.92    2
10.07    2
        ..
24.71    1
21.16    1
28.97    1
22.49    1
18.78    1
Name: count, Length: 229, dtype: int64

In [ ]:
df['tip']

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
df['tip'].std

<bound method Series.std of 0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64>