In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
import warnings
warnings.filterwarnings('ignore')

In [22]:
titanic=pd.read_csv('titanic.csv')

In [26]:
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [32]:
titanic['Class'].unique()

array(['3rd', '1st', '2nd', 'Crew'], dtype=object)

In [34]:
titanic['Class'].value_counts()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: count, dtype: int64

In [36]:
titanic['Age'].value_counts()

Age
Adult    2092
Child     109
Name: count, dtype: int64

In [38]:
titanic['Age'].unique()

array(['Child', 'Adult'], dtype=object)

pre-processing

In [45]:
frequent_itemsets=apriori(df,min_support=0.5,use_colnames=True)
frequent_itemsets

NameError: name 'df' is not defined

In [47]:
rules=association_rules(frequent_itemsets,metrics="lift",min_threshold=1,num_itemsets=len(frequent_itemsets))
rules

NameError: name 'frequent_itemsets' is not defined